:root {
  --color-primary: #00a8ff;
  --color-primary-dark: #0090d9;
  --color-accent: #ffc107;
  --color-shade: #777777;
  --color-shade-light: #dddddd;
  --color-white: #ffffff;
}

body {
  font-family: "Dongle", Roboto, serif, sans-serif;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

header {
  font-family: "PT Serif", serif;
  text-align: center;
}

li {
  list-style: none;
}

.brand-banner {
  display: grid;
  height: 200px;
  align-content: space-evenly;
}

.navigator-section {
  display: flex;
  justify-content: center;
}

.wrapper-content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-group {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}

.form-group > label {
  display: inline;
  position: absolute;
  transition: top 0.2s ease-out;
  z-index: -1;
}

:is(#base-input, #pixel-input, #em-input) {
  color: var(--color-shade);
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 0.9rem;
  outline: none;
  overflow: hidden;
  padding: 7px 45px 7px 1px;
  width: 175px;
  z-index: 1;
}

.btn {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.27em;
  outline: 1px solid;
  padding: 0.8rem 4.5rem;
  width: max-content;
  border-radius: 5px;
}

.btn-font {
  font-family: "PT Serif", Roboto, serif;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.history > li {
  height: 75px;
  width: 100%;
}

.focus-label {
  color: var(--color-primary);
  font-size: 0.7em;
  top: -18px;
  left: 1px;
}

.blur-label {
  color: var(--color-shade-light);
  font-size: 1.5rem;
  top: 0px;
  left: 1px;
}

.nav > li {
  border-bottom: 3px solid var(--color-primary-dark);
}

#history > li {
  height: 40px;
}

.pyt-10 {
  padding-top: 10px;
}

#error-output {
  text-align: center;
}
